In [1]:
import pandas as pd



# Load the main listings dataset
#df = pd.read_csv("listings12.csv")
listings_df = pd.read_csv("listings.csv")
neighborhoods_df = pd.read_csv("neighbourhoods.csv")
reviews_df = pd.read_csv("reviews_sample.csv")

# Preview the first few rows
#df.head()
print("Listings:")
display(listings_df.head())

print("\nNeighborhoods:")
display(neighborhoods_df.head())

print("\nReviews:")
display(reviews_df.head())

df = listings_df.copy()

Listings:

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2539,Superfast Wi-Fi. Clean & quiet home by the park,2787,John,Brooklyn,Kensington,40.64529,-73.97238,Private room,NaN,30,9,2018-10-19,0.08,5,343,0,NaN
1,2595,Skylit Midtown Manhattan Spacious Studio,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30,49,2022-06-21,0.26,3,365,0,NaN
2,5136,Spacious Family Friendly Duplex w/ Patio + Yard,7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,216.0,30,4,2023-08-20,0.03,1,37,0,NaN
3,6848,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,96.0,30,195,2025-04-01,1.00,1,182,4,NaN
4,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.80107,-73.94255,Private room,59.0,30,1,2022-06-05,0.03,2,83,0,NaN

Neighborhoods:

  neighbourhood_group neighbourhood
0               Bronx      Allerton
1               Bronx    Baychester
2               Bronx       Belmont
3               Bronx     Bronxdale
4               Bronx   Castle Hill

Reviews:

   listing_id        date
0        2539  2015-12-04
1        2539  2016-08-27
2        2539  2016-10-01
3        2539  2017-02-20
4        2539  2017-03-19

In [2]:
df.duplicated() #checking for duplicated rows , explore +inspect given data

0        False
1        False
2        False
3        False
4        False
         ...
37013    False
37014    False
37015    False
37016    False
37017    False
Length: 37018, dtype: bool

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37018 entries, 0 to 37017
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              37018 non-null  int64
 1   name                            37016 non-null  object
 2   host_id                         37018 non-null  int64
 3   host_name                       36993 non-null  object
 4   neighbourhood_group             37018 non-null  object
 5   neighbourhood                   37018 non-null  object
 6   latitude                        37018 non-null  float64
 7   longitude                       37018 non-null  float64
 8   room_type                       37018 non-null  object
 9   price                           21833 non-null  float64
 10  minimum_nights                  37018 non-null  int64
 11  number_of_reviews               37018 non-null  int64
 12  last_review                     25358 non-null  object
 13  reviews_per_month               25358 non-null  float64
 14  calculated_host_listings_count  37018 non-null  int64
 15  availability_365                37018 non-null  int64
 16  number_of_reviews_ltm           37018 non-null  int64
 17  license                         5396 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 5.1+ MB

In [4]:
df.isnull().sum().sort_values(ascending=False).head(20)

license                           31622
price                             15185
last_review                       11660
reviews_per_month                 11660
host_name                            25
name                                  2
host_id                               0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
minimum_nights                        0
number_of_reviews                     0
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
id                                    0
dtype: int64

In [5]:
df.select_dtypes(include='object').nunique().sort_values()

room_type                  4
neighbourhood_group        5
neighbourhood            224
license                 2006
last_review             3286
host_name               8415
name                   35355
dtype: int64

In [6]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,3.701800e+04,3.701800e+04,37018.000000,37018.000000,21833.000000,37018.000000,37018.000000,25358.000000,37018.000000,37018.000000,37018.000000
mean,4.372920e+17,1.714205e+08,40.728570,-73.947247,233.896808,29.226025,26.240721,0.819498,72.739802,152.444892,3.966719
std,5.144149e+17,1.888658e+08,0.056333,0.055007,455.382022,35.784675,65.675512,1.851575,235.286250,144.302059,20.022130
min,2.539000e+03,1.678000e+03,40.500366,-74.251907,8.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,2.140000e+07,1.768211e+07,40.688420,-73.983460,90.000000,30.000000,0.000000,0.080000,1.000000,0.000000,0.000000
50%,5.037505e+07,8.655362e+07,40.726132,-73.955001,150.000000,30.000000,3.000000,0.260000,2.000000,122.000000,0.000000
75%,9.261013e+17,3.036643e+08,40.762271,-73.928302,268.000000,30.000000,22.000000,0.940000,8.000000,296.000000,1.000000
max,1.410916e+18,6.919326e+08,40.912017,-73.711822,20000.000000,1250.000000,3047.000000,120.430000,1225.000000,365.000000,1792.000000

In [7]:
cols_to_drop = [col for col in ["id", "scrape_id", "host_id", "host_url", "listing_url", "picture_url"] if col in df.columns]
df.drop(columns=cols_to_drop, inplace=True)

In [8]:
# Fill review scores with their average
# Fill review scores with their average
review_cols = [col for col in df.columns if "review_scores" in col]
for col in review_cols:
    df[col] = df[col].fillna(df[col].mean())

# Fill missing bathrooms, bedrooms, and beds with default value 1 if column exists
for col in ["bathrooms", "bedrooms", "beds"]:
    if col in df.columns:
        df[col] = df[col].fillna(1)

In [9]:
# Fill neighborhood/host_about/etc with "Unknown"
text_cols = ["neighbourhood", "neighbourhood_overview", "host_about", "host_neighbourhood"]
for col in text_cols:
    if col in df.columns:
        df[col] = df[col].fillna("Unknown")

In [10]:
df["price"] = df["price"].replace(r'[\$,]', '', regex=True).astype(float)
print("Max price:", df["price"].max())

Max price: 20000.0

In [11]:
print(df.columns.tolist())

['name', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license']

In [12]:
# Ensure price is numeric (in case it's not)
df["price"] = pd.to_numeric(df["price"], errors="coerce")

# Drop listings where price is 0 or extremely high (over $10,000)
df = df[(df["price"] > 0) & (df["price"] <= 10000)]

# Fill remaining missing prices with the median price
median_price = df["price"].median()
df["price"] = df["price"].fillna(median_price)

# Confirm it's clean
print("Min price:", df["price"].min())
print("Max price:", df["price"].max())
print("Missing prices left:", df["price"].isnull().sum())

Min price: 8.0
Max price: 10000.0
Missing prices left: 0

In [13]:
if 'bedrooms' in df.columns:
    df['bedrooms'] = df['bedrooms'].fillna(1)  # fill missing with 1
    df['bedrooms'] = df['bedrooms'].apply(lambda x: min(x, 10))  # cap max at 10
    print("✅ Bedrooms column cleaned and capped.")
    print("Min bedrooms:", df["bedrooms"].min())
    print("Max bedrooms:", df["bedrooms"].max())
else:
    print("⚠️ 'bedrooms' column not found in dataset.")

⚠️ 'bedrooms' column not found in dataset.

In [14]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\munal\anaconda3\lib\site-packages (3.0.2)
Requirement already satisfied: numpy in c:\users\munal\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\munal\anaconda3\lib\site-packages (from xgboost) (1.13.1)

In [15]:
# Define features and target
features = ['neighbourhood', 'neighbourhood_group', 'room_type', 
            'minimum_nights', 'number_of_reviews', 'availability_365']
target = 'price'

In [16]:
from sklearn.preprocessing import OneHotEncoder
#this step is resoponisble for dropping missing values + enconding, taking catgorial values into numerical values 

# Drop rows with missing values in features + target
df_clean = df.dropna(subset=features + [target])

# One-hot encode categorical columns
categorical_columns = ['room_type', 'neighbourhood_group', 'neighbourhood']
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# Apply encoder to categorical columns
one_hot_encoded = encoder.fit_transform(df_clean[categorical_columns])

# Convert to DataFrame
one_hot_df = pd.DataFrame(one_hot_encoded, 
                          columns=encoder.get_feature_names_out(categorical_columns),
                          index=df_clean.index)

# Drop original categorical columns and combine with one-hot columns
df_encoded = df_clean.drop(columns=categorical_columns).join(one_hot_df)

# Separate features (X) and target (y)
X = df_encoded.drop(columns=[target])
y = df_encoded[target]

In [17]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Make predictions
y_pred = xgb_model.predict(X_test)

# Evaluate the model
print("📉 Mean Absolute Error (MAE):", mean_absolute_error(y_test, y_pred))
print("📉 Root Mean Squared Error (RMSE):", np.sqrt(mean_squared_error(y_test, y_pred)))
print("📈 R² Score:", r2_score(y_test, y_pred))

NameError: name 'xgb_model' is not defined

In [ ]:
import matplotlib.pyplot as plt

# Get feature importances from the trained XGBoost model
importances = xgb_model.feature_importances_
feature_names = X_train.columns

# Sort and plot the top features
sorted_idx = importances.argsort()[::-1]  # Sort descending
top_n = 10  # You can change this number

plt.figure(figsize=(10, 6))
plt.barh(range(top_n), importances[sorted_idx[:top_n]][::-1])
plt.yticks(range(top_n), feature_names[sorted_idx[:top_n]][::-1])
plt.xlabel("Feature Importance")
plt.title("Top Features Influencing Airbnb Price Prediction")
plt.tight_layout()
plt.show()

In [ ]:
# Copy X_test to avoid modifying the original
results_df = X_test.copy()

# Add actual and predicted prices
results_df['actual_price'] = y_test.values
results_df['predicted_price'] = y_pred

# Reset index for mapping
results_df = results_df.reset_index(drop=True)

# Add latitude and longitude from original df using y_test.index
results_df['latitude'] = df.loc[y_test.index, 'latitude'].values
results_df['longitude'] = df.loc[y_test.index, 'longitude'].values

# Preview results
results_df.head()

In [ ]:
!pip install folium

In [ ]:
import folium
from folium.plugins import MarkerCluster

In [ ]:
# Center the map on average location
map_center = [results_df['latitude'].mean(), results_df['longitude'].mean()]
airbnb_map = folium.Map(location=map_center, zoom_start=11)

In [ ]:
marker_cluster = MarkerCluster().add_to(airbnb_map)

for _, row in results_df.iterrows():
    actual = row['actual_price']
    predicted = row['predicted_price']
    
    # Simple rule for color
    if predicted < actual * 0.9:
        color = 'green'  # underpriced
    elif predicted > actual * 1.1:
        color = 'red'    # overpriced
    else:
        color = 'blue'   # accurate

    popup_text = f"""
    <b>Actual Price:</b> ${actual:.2f}<br>
    <b>Predicted Price:</b> ${predicted:.2f}
    """

    folium.CircleMarker(
        location=[row['latitude'], row['longitude']],
        radius=5,
        popup=popup_text,
        color=color,
        fill=True,
        fill_opacity=0.6
    ).add_to(marker_cluster)

In [ ]:
airbnb_map

In [ ]:
# Recreate results_df from your test set and predictions
results_df = X_test.copy()
results_df['actual_price'] = y_test.values
results_df['predicted_price'] = y_pred
results_df = results_df.reset_index(drop=True)

# Add latitude & longitude back from original df using index alignment
results_df['latitude'] = df.loc[results_df.index, 'latitude'].values
results_df['longitude'] = df.loc[results_df.index, 'longitude'].values

# Confirm it worked
print(results_df.columns)
results_df.head()

In [ ]:
xgb_model.fit(X_train, y_train)

In [ ]:
from sklearn.model_selection import train_test_split

X = df_encoded.drop(columns=['price'])  # Replace 'price' if your target is named differently
y = df_encoded['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from xgboost import XGBRegressor

xgb_model = XGBRegressor(
    n_estimators=100,
    learning_rate=0.1,
    max_depth=5,
    random_state=42
)

xgb_model.fit(X_train, y_train)

In [ ]:
print(X_train.dtypes[X_train.dtypes == 'object'])

In [ ]:
df_encoded = df_encoded.drop(columns=['name', 'host_name', 'last_review', 'license'])

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Make predictions
y_pred = xgb_model.predict(X_test)

# Evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print results
print(f"MAE: ${mae:.2f}")
print(f"RMSE: ${rmse:.2f}")
print(f"R² Score: {r2:.2f}")

In [ ]:
import matplotlib.pyplot as plt

# Get feature importances from the trained model
importances = xgb_model.feature_importances_
feature_names = X_train.columns

# Sort top features
sorted_idx = importances.argsort()[::-1]
top_n = 10  # adjust if you want more or fewer
top_features = feature_names[sorted_idx[:top_n]]
top_importances = importances[sorted_idx[:top_n]]

# Plot
plt.figure(figsize=(10, 6))
plt.barh(range(top_n), top_importances[::-1])
plt.yticks(range(top_n), top_features[::-1])
plt.xlabel("Feature Importance")
plt.title("Top Features Influencing Airbnb Price Prediction")
plt.tight_layout()
plt.show()

In [ ]:
map_df = X_test.copy()
map_df['Actual Price'] = y_test
map_df['Predicted Price'] = y_pred

# Add back location info if dropped earlier (latitude, longitude)
if 'latitude' not in map_df.columns or 'longitude' not in map_df.columns:
    map_df['latitude'] = df.loc[map_df.index, 'latitude']
    map_df['longitude'] = df.loc[map_df.index, 'longitude']

# Optional: round values for display
map_df['Predicted Price'] = map_df['Predicted Price'].round(2)
map_df['Actual Price'] = map_df['Actual Price'].round(2)

# Drop rows without lat/lon just in case
map_df.dropna(subset=['latitude', 'longitude'], inplace=True)

In [ ]:
import folium
from folium.plugins import MarkerCluster

# Start the map centered around NYC
nyc_map = folium.Map(location=[40.7128, -74.0060], zoom_start=11)
marker_cluster = MarkerCluster().add_to(nyc_map)

# Add points
for idx, row in map_df.iterrows():
    popup_text = f"""
    <b>Actual Price:</b> ${row['Actual Price']}<br>
    <b>Predicted Price:</b> ${row['Predicted Price']}<br>
    <b>Room Type:</b> {row.get('room_type_Private room', 'N/A')}<br>
    <b>Neighborhood:</b> {row.get('neighbourhood_group_Brooklyn', 'N/A')}
    """
    
    folium.Marker(
        location=[row['latitude'], row['longitude']],
        popup=folium.Popup(popup_text, max_width=300),
        icon=folium.Icon(color='blue', icon='home', prefix='fa')
    ).add_to(marker_cluster)

# Display the map
nyc_map